@model CampViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/detailspage/details.css" rel="stylesheet" />
</head>
<body>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Image" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">@Model.Name</h1>
                    <div class="fs-5 mb-5">
                        <span>Total Events: @Model.Posts.Count()</span>
                    </div>
                    @*<div class="d-flex" style="justify-content: space-around;">
                        @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == Model.OwnerName)
                        {
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
                               class="btn btn-outline-dark flex-shrink-0 btn-warning">Edit</a>
                            <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
                               class="btn btn-outline-dark flex-shrink-0 btn-danger">Delete</a>
                            <p></p>

                        }
                        else if (this.User.Identity.IsAuthenticated)
                        {
                            @if (!Model.Participants.Any(p => p.UserName == this.User.Identity.Name))
                            {
                                <form class="" asp-controller="Event"
                                      asp-action="Join" asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Join" />
                                </form>
                                <button asp-controller="Event" asp-action="Join" class="btn btn-outline-dark flex-shrink-0" type="submit">
                        Join
                        </button>
                            }
                            else
                            {
                                <form class="" asp-controller="Event"
                                      asp-action="Leave" asp-route-id="@Model.Id" method="post">
                                    <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Leave" />
                                </form>
                            }
                        }
                    </div>*@
                </div>
            </div>
        </div>
    </section>
     <!-- Related items section-->
   <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Events</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="padding-bottom: 50px;">
                @if (Model.Posts.Count != 0)
                {
                    foreach (var post in Model.Posts)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="@post.Image" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@post.Name</h5>
                                        <!-- Product price-->
                                        Participants: (@post.ParticipantCount)
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Event" asp-action="Detail" asp-route-id="@post.Id">View</a></div>
                                </div>
                            </div>
                        </div>
                    }
                }
                
            </div>
        </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
