@model AllPostQueryModel
@inject UserManager<ApplicationUser> UserManager;
<link href="~/css/allpage/component.css" rel="stylesheet" />

<div style="display:table; margin: 0 auto; padding-top: 50px	">
	<link href="./component.css" rel="stylesheet" />
	<div class="component-container">
		<form id="filter-form" class="component-form">
			<div class="component-container1">
				<div class="component-container2">
					<input style="display: none" asp-for="UserId" value="@UserManager.GetUserId(User)" />
					<input style="margin-left: 20px;" asp-for="SearchingTerm"
						   type="text"
						   placeholder="Search..."
						   class="component-textinput input" />
					<div class="component-container3">
						<select asp-for="CampType.Id" class="component-select btn btn-secondary dropdown-toggle">
							<option value="0">All</option>
							@foreach (var campType in Model.CampTypes)
							{
								<option value="@campType.Id">@campType.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="component-container4">
					<select asp-for="Sort" class="component-select1 btn btn-secondary dropdown-toggle">
						@foreach (var sort in Model.Sorts)
						{
							<option value="@sort">@sort</option>
						}
					</select>
					<button id="filterSearch" class="component-button button">
						<span>
							<span>Search</span>
							<br />
						</span>
					</button>
				</div>
				<div class="component-container5"></div>
			</div>
		</form>
	</div>
</div>

