@model AllPostQueryModel

@{
	ViewBag.Title = "All Events";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
	<div class="row">
		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="CampType"></label>
				<select asp-for="CampType" class="form-control">
					<option value="">All</option>
					@foreach (var campType in Model.CampTypes)
					{
						<option value="@campType">@campType</option>
					}
				</select>
			</div>
		</div>
		<div class="form-group col-md-3">
			<label asp-for="SearchingTerm"></label>
			<input asp-for="SearchingTerm" class="form-control" placeholder="...">
		</div>
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Sort"></label>
				<select asp-for="Sort" class="form-control">
					@foreach (var sort in Model.Sorts)
					{
						<option value="@sort">@sort</option>
					}
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>
@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}
	var maxPage = Math.Ceiling((double)Model.TotalEventCount / AllPostQueryModel.PostsPerPages);
}
<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
		   asp-controller="House"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-category="@Model.CampType"
		   asp-route-searchTerm="@Model.SearchingTerm"
		   asp-route-sorting="@((int)Model.Sort)"><<</a>
	</div>
	@{
		var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
		!Model.Posts.Any();
	}
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="House"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-category="@Model.CampType"
		   asp-route-searchTerm="@Model.SearchingTerm"
		   asp-route-sorting="@((int)Model.Sort)">>></a>
	</div>
</div>