@model PostPreviewViewModel
<div class="col-md-4">
	<div class="card mb-3">
		<img class="card-img-top" src="@Model.Image" alt="Event Image">
		<div class="card-body text-center">
			<h4>@Model.Name</h4>
			<h6>Description: <b>@Model.Description</b></h6>
			<h6>Camp Type: <b>@Model.CampType</b></h6>
			<h6>Destination: <b>@Model.Destination</b></h6>
			<h6>Travel Type: <b>@Model.TravelType</b></h6>
			<h6>
				Creator:
				<b>@Model.OwnerName</b>
			</h6>
			<h6>(@(Model.ParticipantCount))</h6>
			<br />
			<a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id"
			   class="btn btn-success">Details</a>
			@if (this.User.Identity.IsAuthenticated)
			{
				<a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
				   class="btn btn-warning">Edit</a>
				<a asp-controller="Event" asp-action="Delete" asp-routeid="@Model.Id"
				   class="btn btn-danger">Delete</a>
				<p></p>
				@*@if (!Model.IsRented)
				{
					<form class="input-group-sm" asp-controller="House"
						  asp-action="Rent" asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" type="submit" value="Rent" />
					</form>
				}
				else
				{
					<form asp-controller="House" asp-action="Leave"
						  asp-route-id="@Model.Id" method="post">
						<input class="btn btn-primary" type="submit" value="Leave" />
					</form>
				}*@
			}
		</div>
	</div>
</div>
