@model AllPostQueryModel

	<partial name="Partials/_FilterPartial" model="@Model" />


<div class="row">
	@foreach (var post in Model.Posts)
	{
		<div class="col-md-4">
			<div class="card mb-3">

				<partial name="Partials/_PostPartial" model="@post" />

				<div class=" card-body text-center">
					@if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == post.OwnerName)
					{
						<a asp-controller="Event" asp-action="Edit" asp-route-id="@post.Id"
						   class="btn btn-warning">Edit</a>
						<a asp-controller="Event" asp-action="Delete" asp-route-id="@post.Id"
						   class="btn btn-danger">Delete</a>
						<p></p>

					}
					else if (this.User.Identity.IsAuthenticated)
					{
						@if (!post.Participants.Any(p => p.UserName == this.User.Identity.Name))
						{
							<form class="input-group-sm" asp-controller="Event"
								  asp-action="Join" asp-route-id="@post.Id" method="post">
								<input class="btn btn-primary" type="submit" value="Join" />
							</form>
						}
						else
						{
							<form asp-controller="Event" asp-action="Leave"
								  asp-route-id="@post.Id" method="post">
								<input class="btn btn-primary" type="submit" value="Leave" />
							</form>
						}
					}
				</div>
			</div>
		</div>
	}
</div>