@model List<PostPreviewViewModel>

<ul>
	@foreach (var post in Model)
	{
		<li>
			<img src="@post.Image">
			<p>@post.Name</p>
			<p>@post.Description</p>
			<p>@post.CampType</p>
			<p>@post.TravelType</p>
			<p>@post.Destination</p>
			<p>@post.OwnerName</p>
			<p>@post.ParticipantCount</p>
		</li>
	}
</ul>