@model AllPostQueryModel
@inject UserManager<ApplicationUser> UserManager;
<!-- Header-->
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">My Events</h1>
			<p class="lead fw-normal text-white-50 mb-0">Find adventures through out the world.</p>
		</div>
	</div>
</header>

<partial name="Partials/_FilterPartial" model="@Model" />

<div class="row">
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">



				@if (Model.Posts.Count() != 0)
				{

					var previousPage = Model.CurrentPage - 1;
					if (previousPage < 1)
					{
						previousPage = 1;
					}
					var maxPage = (int)Math.Ceiling((double)Model.ResultCount / AllPostQueryModel.PostsPerPages);

					var nextPage = Model.CurrentPage + 1;
					if (nextPage > maxPage)
					{
						nextPage = maxPage;
					}

					if (Model.CampType == null)
					{
						Model.CampType = new RastafarAppServices.ViewModels.CampTypeViewModel
						{
							Id = Guid.Empty
						};
					}
				<div class="row mb-5" style="height: 45px;width: 0px;">

					<a style="position: absolute; left: 50px; width: 50px;" class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
					   asp-controller="Event"
					   asp-action="MyEvents"
					   asp-route-userId="@UserManager.GetUserId(User)"
					   asp-route-currentPage="@previousPage"
					   asp-route-CampType.Id="@Model.CampType.Id"
					   asp-route-SearchingTerm="@Model.SearchingTerm"
					   asp-route-Sort="@((int)Model.Sort)">&lt;&lt;</a>@* 
					<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start" style="height: 45px;">
						
					</div> *@
					@{
						var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
						!Model.Posts.Any();
					}

					<div style="
    position: absolute;
    left: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
">
						<p style="font-weight: 500">@Model.CurrentPage</p>
					</div>
					<a style="position: absolute; right: 50px; width: 50px;" class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
					   asp-controller="Event"
					   asp-action="MyEvents"
					   asp-route-userId="@UserManager.GetUserId(User)"
					   asp-route-SearchingTerm="@Model.SearchingTerm"
					   asp-route-CampType.Id="@Model.CampType.Id"
					   asp-route-currentPage="@nextPage"
					   asp-route-Sort="@((int)Model.Sort)">>></a>@* 
					<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end" style="height: 45px;">
						
					</div> *@
				</div>

					@foreach (var post in Model.Posts)
					{

						<partial name="Partials/_PostPartial" model="@post" />

					}
				}
				else
				{
					<div>
						<p style="font-size: 30px">No Events</p>
					</div>
				}
			</div>
		</div>
	</section>
</div>

<script src="d:\programming\softuni-final-exam\rastafarwebapp\rastafarwebapp\views\event\scripts\filterscript.js"></script>
