@using HiparAppData.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model UserViewModel
@inject UserManager<ApplicationUser> UserManager
<style>


#background{
		display: flex;
		background-size: cover;
		background-image: url(https://images.unsplash.com/photo-1478131143081-80f7f84ca84d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8c2VhcmNofDZ8fGNhbXBpbmd8ZW58MHx8fHwxNjg5MDM3MDk3fDA&ixlib=rb-4.0.3&q=80&w=1500);
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	margin: auto;
	margin-bottom: 100px;
	margin-top: 100px;
	padding-bottom: 50px;
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

a.primary {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 20px;
	text-decoration: none;
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

a.primary.ghost {
	text-decoration: none;
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
</style>

<div id="background">
	<div class="card-container">
		<img class="round" src="@Model.Image" alt="user" />
		<h3>@Model.FirstName @Model.LastName</h3>
		<h6>@Model.Username</h6>
		<p>@Model.Age</p>
		<p>@Model.Email</p>
		<p>@Model.PhoneNumber</p>
		<div class="buttons">
			<a asp-action="JoinedEvents" asp-controller="Event" asp-route-userId="@UserManager.GetUserId(User)" class="primary">
				Joined Events
			</a>
			<a asp-action="MyEvents" asp-controller="Event" asp-route-userId="@UserManager.GetUserId(User)" class="primary ghost">
				My Events
			</a>
		</div>
	</div>
</div>